@import "tailwindcss";

ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}

ul {
  list-style-type: none !important;
  padding-left: 20px !important;
}

body {
  @apply font-bold text-gray-900;
}
